.banner1-wrapper {
  display: contents;
}
 
.banner1-container1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  padding-top: var(--dl-layout-space-twounits);
  padding-bottom: var(--dl-layout-space-twounits);
  background-color: #01042f;
}
 
.banner1-max-width {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-container2 {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.banner1-text1 {
  text-align: center;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text24 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 25px;
  font-family: "Inter";
}
 
.banner1root-class-name {
  margin-top: var(--dl-layout-space-threeunits);
  margin-bottom: var(--dl-layout-space-threeunits);
  background-color: #0000F5;
}
 
@media(max-width: 1200px) {
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Inter;
  }
}
 
@media(max-width: 991px) {
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Inter;
  }
}
 
@media(max-width: 767px) {
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: Inter;
  }
}

.pricing1-wrapper {
  display: contents;
}
 
.pricing1-pricing1 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing1-max-width {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing1-section-title {
  gap: var(--dl-layout-space-unit);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing1-content1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: column;
}
 
.pricing1-text10 {
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
 
.pricing1-content2 {
  gap: var(--dl-layout-space-twounits);
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: center;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  flex-direction: column;
}
 
.pricing1-price {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing1-text11 {
  font-style: normal;
  font-weight: 600;
}
 
.pricing1-text12 {
  fill: var(--dl-color-theme-neutral-dark);
  color: var(--dl-color-theme-neutral-dark);
  font-size: 48px;
}
 
.pricing1-list {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing1-list-item1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing1-icon1 {
  fill: #D9D9D9;
}
 
.pricing1-list-item2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing1-icon3 {
  fill: #D9D9D9;
}
 
.pricing1-list-item3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing1-icon5 {
  fill: #D9D9D9;
}
 
.pricing1-list-item4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
}
 
.pricing1-icon7 {
  fill: #D9D9D9;
}
 
.pricing1-image {
  width: 200px;
  object-fit: cover;
}
 
.pricing1-button {
  width: 100%;
  border-color: #878787;
  text-decoration: none;
  background-color: #0000F5;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text51 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text50 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text45 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
 
.home-fragment9 {
  display: contents;
}
 
.home-text53 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text46 {
  color: rgb(63, 255, 0);
  display: inline-block;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-text48 {
  color: #ffffff;
}
 
.home-fragment8 {
  display: contents;
}
 
.home-text52 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text44 {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
@media(max-width: 991px) {
  .home-text45 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-style: inherit;
    font-family: Inter;
    font-weight: 500;
  }
}
 
@media(max-width: 479px) {
  .pricing1-max-width {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .pricing1-text12 {
    font-size: 2.5rem;
  }
  .pricing1-button {
    width: 100%;
  }
  .pricing1-text17 {
    font-size: 1rem;
  }
  .home-text51 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text49 {
    font-size: 1rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
  }
  .home-text50 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text45 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .home-text53 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text47 {
    color: #72e24b;
  }
  .home-text48 {
    color: #fbfbfb;
  }
  .home-text52 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text44 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
}

.home-container1 {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
 
.home-hero {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-size: cover;
  justify-content: flex-start;
  background-image: url("public/beverlyalgo%20(2).png");
}
 
.home-header10 {
  flex: 0 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
 
.home-branding1 {
  width: 298px;
  height: 74px;
  object-fit: cover;
}
 
.home-hero-content {
  gap: var(--dl-layout-space-fiveunits);
  width: 50%;
  height: 75%;
  display: flex;
  z-index: 100;
  max-width: 50%;
  margin-top: 5%;
  align-items: center;
  margin-left: 0%;
  border-color: #7b7b7b;
  border-width: 1px;
  margin-right: 0%;
  border-radius: var(--dl-layout-radius-radius8);
  margin-bottom: 5%;
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  backdrop-filter: blur(20px);
  justify-content: center;
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-header-container1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-button1 {
  width: 25rem;
  height: 3rem;
  padding: 0px;
  align-self: center;
  border-color: #8e8e8e;
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius4);
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(12, 0, 72) 0.00%,rgb(46, 0, 104) 97.00%);
}
 
.home-text10 {
  font-size: 1.3rem;
}
 
.home-text13 {
  align-self: center;
  text-align: center;
}
 
.home-text14 {
  color: #ffffff;
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
}
 
.home-text15 {
  font-size: 3rem;
}
 
.home-text16 {
  color: #00dbe8;
  font-size: 5.3rem;
  font-style: normal;
  font-weight: 800;
}
 
.home-text17 {
  color: #00dbe8;
  font-size: 5.3rem;
  font-style: normal;
  font-weight: 800;
}
 
.home-caption1 {
  color: rgb(255, 255, 255);
  font-size: 30px;
  max-width: 600px;
  align-self: center;
  font-family: "Inter";
  font-weight: 200;
  line-height: 36px;
}
 
.home-link1 {
  align-self: center;
  border-color: #8e8e8e;
  border-width: 1px;
  text-decoration: none;
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text24 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 25px;
  font-family: "Inter";
}
 
.home-get-started {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
}
 
.home-header-container2 {
  gap: var(--dl-layout-space-threeunits);
  display: flex;
  z-index: 100;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-header11 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
  backdrop-filter: blur(5px);
  justify-content: flex-start;
  background-color: rgba(0, 0, 0, 0.44);
}
 
.home-heading1 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  align-self: flex-start;
  font-weight: 400;
}
 
.home-text25 {
  font-style: normal;
  font-weight: 500;
}
 
.home-text26 {
  font-style: normal;
  font-weight: 500;
}
 
.home-text27 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
 
.home-text28 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
 
.home-text29 {
  font-style: normal;
  font-weight: 500;
}
 
.home-text30 {
  font-style: normal;
  font-weight: 500;
}
 
.home-text31 {
  font-style: normal;
  font-weight: 500;
}
 
.home-caption2 {
  color: #929292;
  width: 558px;
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
 
.home-button2 {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-button3 {
  text-decoration: none;
}
 
.home-image1 {
  top: 0px;
  right: 0px;
  width: 720px;
  bottom: 0px;
  height: 100%;
  margin: auto;
  position: absolute;
  margin-top: auto;
  object-fit: cover;
  border-color: #8a8a8a;
  border-width: 1px;
}
 
.home-growth {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  margin-top: 88px;
  align-items: flex-start;
  padding-top: 86px;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: space-between;
}
 
.home-content10 {
  gap: var(--dl-layout-space-threeunits);
  flex: 1;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header12 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header13 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading2 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
}
 
.home-text34 {
  font-weight: 500;
}
 
.home-text35 {
  font-weight: 500;
}
 
.home-text36 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
 
.home-caption3 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
 
.home-images1 {
  flex: 1;
  display: flex;
  position: relative;
  align-items: flex-end;
  padding-top: var(--dl-layout-space-fourunits);
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-square1 {
  top: 30px;
  right: -33px;
  width: 215px;
  height: 203px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0000FF;
}
 
.home-image2 {
  width: 100%;
  height: 40rem;
  z-index: 100;
  overflow: visible;
  object-fit: cover;
}
 
.home-experience {
  gap: var(--dl-layout-space-fourunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-end;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-fiveunits);
  justify-content: center;
}
 
.home-images2 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
 
.home-square2 {
  left: -35px;
  width: 180px;
  bottom: -35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0000FF;
}
 
.home-image3 {
  width: 575px;
  z-index: 100;
  object-fit: cover;
  border-color: #828282;
  border-width: 1px;
}
 
.home-content11 {
  gap: var(--dl-layout-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header14 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: center;
  border-bottom-width: 1px;
}
 
.home-header-container3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-header15 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-heading3 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
}
 
.home-text37 {
  font-weight: 500;
}
 
.home-text38 {
  font-weight: 500;
}
 
.home-text39 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 400;
}
 
.home-caption4 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
 
.home-checkmarks {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
 
.home-check1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-mark1 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
 
.home-icon1 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
 
.home-text40 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
}
 
.home-check2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-mark2 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
 
.home-icon3 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
 
.home-text41 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
}
 
.home-check3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-mark3 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
 
.home-icon5 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
 
.home-text42 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
}
 
.home-check4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
 
.home-mark4 {
  display: flex;
  padding: var(--dl-layout-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-layout-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
 
.home-icon7 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
 
.home-text43 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  line-height: 24px;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text44 {
  color: #ffffff;
  display: inline-block;
  font-size: 30px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 700;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text45 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 60px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 400;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text46 {
  color: rgb(63, 255, 0);
  display: inline-block;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-text48 {
  color: #ffffff;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text49 {
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 500;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text50 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text51 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment8 {
  display: contents;
}
 
.home-text52 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-fragment9 {
  display: contents;
}
 
.home-text53 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 20px;
  font-style: normal;
  font-family: "Inter";
  font-weight: 300;
}
 
.home-faq {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
 
.home-header16 {
  gap: var(--dl-layout-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
 
.home-heading4 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-weight: 400;
}
 
.home-text54 {
  font-weight: 500;
}
 
.home-text55 {
  font-style: normal;
}
 
.home-text56 {
  font-style: italic;
  font-family: "Playfair Display";
  font-weight: 500;
}
 
.home-text57 {
  font-style: normal;
}
 
.home-content12 {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-column1 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-element1 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header17 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content13 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-element2 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header18 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content14 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-element3 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header19 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content15 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-column2 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
 
.home-element4 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header20 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content16 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-element5 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header21 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content17 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-element6 {
  gap: var(--dl-layout-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-layout-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
 
.home-header22 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
 
.home-content18 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
 
.home-footer {
  width: 100%;
  display: flex;
  max-width: var(--dl-layout-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-layout-space-fiveunits);
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: column;
}
 
.home-content19 {
  gap: var(--dl-layout-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-fiveunits);
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-fiveunits);
  border-top-width: 1px;
}
 
.home-main {
  gap: 240px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
 
.home-branding2 {
  gap: var(--dl-layout-space-twounits);
  width: 400px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.home-image4 {
  width: 220px;
  height: 62px;
  object-fit: cover;
}
 
.home-bottom {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.home-text58 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
}
 
.home-link2 {
  display: flex;
  padding-top: var(--dl-layout-space-unit);
  padding-left: var(--dl-layout-space-fiveunits);
  border-radius: 0px;
  padding-right: var(--dl-layout-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-layout-space-unit);
  text-decoration: none;
}
 
.home-image5 {
  width: 21px;
  object-fit: cover;
}
 
.home-container3 {
  display: contents;
}
 
@media(max-width: 1600px) {
  .home-hero {
    padding-left: 0px;
    background-size: cover;
    background-image: url("public/beverlyalgo%20(2).png");
  }
  .home-header10 {
    width: 100%;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    justify-content: center;
  }
  .home-branding1 {
    width: auto;
    height: 4rem;
  }
  .home-hero-content {
    margin-top: 10%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 10%;
  }
  .home-header-container1 {
    align-items: center;
  }
  .home-button1 {
    width: 25rem;
    height: 3rem;
    padding: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(12, 0, 72) 0.00%,rgb(46, 0, 104) 97.00%);
  }
  .home-text10 {
    font-size: 1.2rem;
  }
  .home-caption1 {
    font-size: 1.7rem;
    text-align: center;
  }
  .home-image2 {
    height: 35rem;
  }
}
 
@media(max-width: 1200px) {
  .home-hero-content {
    width: 60%;
    height: 60%;
    max-width: 60%;
    margin-top: 10%;
    margin-left: 0px;
    margin-bottom: 10%;
  }
  .home-header-container1 {
    align-items: center;
  }
  .home-button1 {
    width: 25rem;
    height: 3rem;
    padding: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(12, 0, 72) 0.00%,rgb(46, 0, 104) 97.00%);
  }
  .home-caption1 {
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-style: normal;
    font-family: Inter;
    font-weight: 200;
    line-height: 36px;
  }
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 22px;
    font-family: Inter;
  }
  .home-image2 {
    width: 100%;
    height: 30rem;
    overflow: visible;
  }
}
 
@media(max-width: 991px) {
  .home-hero {
    padding-left: var(--dl-layout-space-oneandhalfunits);
  }
  .home-hero-content {
    width: 75%;
    height: 65%;
    overflow: hidden;
    max-width: 75%;
    min-width: auto;
    margin-top: 20%;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 20%;
    padding-right: 0px;
  }
  .home-button1 {
    width: 25rem;
    height: 3rem;
    padding-top: 0px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(12, 0, 72) 0.00%,rgb(46, 0, 104) 97.00%);
  }
  .home-text14 {
    color: #ffffff;
    font-size: 2.3rem;
    font-style: normal;
    font-weight: 700;
  }
  .home-text15 {
    font-size: 2.3rem;
  }
  .home-text16 {
    color: #00dbe8;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
  }
  .home-text17 {
    color: #00dbe8;
    font-size: 4.5rem;
    font-style: normal;
    font-weight: 800;
  }
  .home-caption1 {
    font-size: 25px;
    font-style: inherit;
    font-family: Inter;
  }
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 17px;
    font-family: Inter;
  }
  .home-text25 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text26 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text27 {
    font-style: italic;
    font-family: Playfair Display;
  }
  .home-text29 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text31 {
    font-style: normal;
    font-weight: 500;
  }
  .home-growth {
    flex-direction: column;
  }
  .home-header12 {
    width: 100%;
    min-width: auto;
  }
  .home-text34 {
    font-style: inherit;
    font-weight: 500;
  }
  .home-text35 {
    font-style: normal;
  }
  .home-text36 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-images1 {
    padding-top: 0px;
  }
  .home-square1 {
    top: -20px;
    right: -20px;
  }
  .home-image2 {
    width: 100%;
    height: 40rem;
    margin-top: 0px;
  }
  .home-experience {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .home-text37 {
    font-style: inherit;
    font-weight: 500;
  }
  .home-text38 {
    font-style: normal;
  }
  .home-text39 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-text45 {
    color: rgb(255, 255, 255);
    font-size: 60px;
    font-style: inherit;
    font-family: Inter;
    font-weight: 500;
  }
  .home-faq {
    padding-bottom: var(--dl-layout-space-fiveunits);
  }
  .home-content12 {
    gap: var(--dl-layout-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home-column1 {
    max-width: 100%;
  }
  .home-header17 {
    font-size: 24px;
  }
  .home-content13 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-header18 {
    font-size: 24px;
  }
  .home-content14 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-header19 {
    font-size: 24px;
  }
  .home-content15 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-column2 {
    max-width: 100%;
  }
  .home-header20 {
    font-size: 24px;
  }
  .home-content16 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-header21 {
    font-size: 24px;
  }
  .home-content17 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-header22 {
    font-size: 24px;
  }
  .home-content18 {
    font-size: 14px;
    line-height: 21px;
  }
  .home-content19 {
    border-top-width: 0px;
  }
  .home-main {
    gap: var(--dl-layout-space-threeunits);
    flex-direction: column;
  }
  .home-branding2 {
    width: 100%;
  }
}
 
@media(max-width: 767px) {
  .home-branding1 {
    margin-right: var(--dl-layout-space-twounits);
  }
  .home-hero-content {
    width: 75%;
    height: 40%;
    max-width: auto;
    margin-top: 15rem;
    max-height: auto;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0px;
  }
  .home-header-container1 {
    width: 100%;
    height: auto;
    overflow: visible;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-button1 {
    width: 19rem;
    height: 2rem;
    padding-top: 0px;
    border-color: #7d7d7d;
    border-width: 1px;
    padding-left: 0px;
    border-radius: var(--dl-layout-radius-radius4);
    padding-right: 0px;
    padding-bottom: 0px;
    background-color: transparent;
    background-image: linear-gradient(90deg, rgb(12, 0, 72) 0.00%,rgb(46, 0, 104) 97.00%);
  }
  .home-text10 {
    font-size: 0.8rem;
    font-style: normal;
    text-align: center;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text14 {
    color: #ffffff;
    font-size: 1.3rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text15 {
    color: #ffffff;
    font-size: 1.3rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text16 {
    color: #53f5ff;
    font-size: 2.4rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
  }
  .home-text17 {
    color: #00dbe8;
    font-size: 2.4rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
  }
  .home-caption1 {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    display: flex;
    overflow: hidden;
    font-size: 0.9rem;
    max-width: auto;
    min-width: auto;
    font-style: normal;
    max-height: auto;
    min-height: auto;
    text-align: center;
    align-items: center;
    font-family: Inter;
    font-weight: 200;
    line-height: 1.5rem;
    aspect-ratio: auto;
    justify-content: center;
  }
  .home-link1 {
    width: 10rem;
    height: 3rem;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
  }
  .home-text21 {
    font-size: 1rem;
    text-align: center;
  }
  .home-text24 {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-family: Inter;
  }
  .home-get-started {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-header11 {
    width: 60%;
    height: 100%;
    overflow: visible;
    max-width: 60%;
    min-width: 60%;
    max-height: 100%;
    min-height: 100%;
    aspect-ratio: auto;
  }
  .home-heading1 {
    font-size: 36px;
    line-height: 42px;
  }
  .home-caption2 {
    width: 100%;
    height: 100%;
    font-size: 16px;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    line-height: 24px;
  }
  .home-image1 {
    width: 60%;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-growth {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-content10 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header12 {
    gap: var(--dl-layout-space-unit);
  }
  .home-heading2 {
    font-size: 40px;
  }
  .home-caption3 {
    height: auto;
    overflow: visible;
    font-size: 16px;
    max-width: 100%;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    line-height: 24px;
  }
  .home-square1 {
    top: 0px;
    right: 0px;
    width: auto;
    height: 15rem;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-image2 {
    width: 100%;
    height: 25rem;
    overflow: visible;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-experience {
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-square2 {
    left: -20px;
    width: 20%;
    bottom: -20px;
  }
  .home-image3 {
    width: 100%;
  }
  .home-content11 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header14 {
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
  }
  .home-header-container3 {
    gap: var(--dl-layout-space-unit);
  }
  .home-heading3 {
    font-size: 40px;
  }
  .home-caption4 {
    width: auto;
    height: auto;
    overflow: visible;
    font-size: 16px;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    line-height: 24px;
    aspect-ratio: auto;
  }
  .home-faq {
    gap: var(--dl-layout-space-threeunits);
    padding-top: var(--dl-layout-space-threeunits);
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
    padding-bottom: var(--dl-layout-space-threeunits);
  }
  .home-header16 {
    gap: var(--dl-layout-space-unit);
    align-items: center;
  }
  .home-heading4 {
    font-size: 36px;
  }
  .home-column1 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-element1 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header17 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-element2 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header18 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-element3 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header19 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-column2 {
    gap: var(--dl-layout-space-oneandhalfunits);
  }
  .home-element4 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header20 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-element5 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header21 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-element6 {
    gap: var(--dl-layout-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-layout-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home-header22 {
    font-size: 16px;
    line-height: 20px;
  }
  .home-footer {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
}
 
@media(max-width: 479px) {
  .home-hero {
    width: 100%;
    padding-left: 0px;
  }
  .home-branding1 {
    width: 256px;
    height: 55px;
    padding-top: 0px;
    margin-right: var(--dl-layout-space-twounits);
  }
  .home-hero-content {
    gap: var(--dl-layout-space-threeunits);
    width: 75%;
    height: 40%;
    max-width: auto;
    align-self: center;
    margin-top: 50%;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 50%;
    padding-right: 0px;
    animation-name: none;
    animation-delay: 0s;
    animation-duration: 300ms;
    animation-direction: normal;
    animation-iteration-count: 1;
    animation-timing-function: ease;
  }
  .home-header-container1 {
    height: 100%;
    align-self: center;
    align-items: center;
  }
  .home-button1 {
    width: 50%;
    height: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-text14 {
    color: #ffffff;
    font-size: 1.5rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text15 {
    color: #ffffff;
    font-size: 1.5rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text16 {
    color: #00dbe8;
    font-size: 2.4rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
  }
  .home-text17 {
    color: #00dbe8;
    font-size: 2.4rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 800;
  }
  .home-caption1 {
    width: auto;
    height: auto;
    font-size: 0.9rem;
    max-width: auto;
    min-width: auto;
    font-style: normal;
    max-height: auto;
    min-height: auto;
    font-family: Inter;
    font-weight: 200;
    margin-bottom: 0px;
  }
  .home-link1 {
    width: 50%;
    height: 10%;
    display: flex;
    text-align: center;
    align-items: center;
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    justify-content: center;
  }
  .home-header11 {
    background-color: transparent;
  }
  .home-heading1 {
    width: auto;
    font-size: 2.45rem;
    line-height: 42px;
  }
  .home-text25 {
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
  }
  .home-text26 {
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home-text27 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-text28 {
    font-style: normal;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-text29 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text31 {
    font-style: normal;
    font-weight: 500;
  }
  .home-text32 {
    font-style: normal;
  }
  .home-caption2 {
    width: auto;
    height: auto;
    font-size: 1rem;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-image1 {
    width: 70%;
    height: 75%;
  }
  .home-heading2 {
    font-size: 2rem;
  }
  .home-text36 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 400;
  }
  .home-caption3 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    margin-bottom: 29px;
  }
  .home-square1 {
    height: 10rem;
  }
  .home-image2 {
    width: 100%;
    height: 18rem;
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .home-image3 {
    min-width: auto;
  }
  .home-heading3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
  }
  .home-text39 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home-caption4 {
    width: 100%;
    font-size: 0.9rem;
    max-width: 100%;
    min-width: 100%;
    line-height: 1.2rem;
  }
  .home-text40 {
    font-size: 1.2rem;
  }
  .home-text41 {
    font-size: 1.2rem;
  }
  .home-text42 {
    font-size: 1.2rem;
  }
  .home-text43 {
    font-size: 1.2rem;
  }
  .home-text44 {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 700;
  }
  .home-text45 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 400;
  }
  .home-text47 {
    color: #72e24b;
  }
  .home-text48 {
    color: #fbfbfb;
  }
  .home-text49 {
    font-size: 1rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 500;
  }
  .home-text50 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text51 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text52 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-text53 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    font-style: normal;
    font-family: Inter;
    font-weight: 300;
  }
  .home-header16 {
    gap: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
  .home-content13 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content14 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content15 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content16 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content17 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content18 {
    font-size: 0.7rem;
    line-height: 1rem;
  }
  .home-content19 {
    padding-top: 0px;
  }
  .home-main {
    width: auto;
    height: auto;
    min-width: 100%;
  }
  .home-bottom {
    gap: var(--dl-layout-space-twounits);
    flex-direction: column;
    justify-content: center;
  }
  .home-link2 {
    justify-content: center;
  }
}
