.header-wrapper {
  display: contents;
}
 
.header-header {
  top: 0px;
  left: auto;
  right: auto;
  width: 100%;
  bottom: auto;
  display: flex;
  z-index: 3;
  position: fixed;
  max-width: 1320px;
  padding-left: var(--dl-layout-space-unitandahalfunit);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  justify-content: center;
}
 
.header-nav {
  flex: 0 0 auto;
  color: var(--dl-color-secondary-600);
  width: 100%;
  height: 60px;
  display: flex;
  flex-wrap: wrap;
  box-shadow: 0 .25rem .375rem -.0625rem hsla(0,0%,8%,.12),0 .125rem .25rem -.0625rem hsla(0,0%,8%,.07)!important;
  margin-top: var(--dl-layout-space-unit);
  padding-top: var(--dl-layout-space-halfunit);
  padding-left: var(--dl-layout-space-unitandahalfunit);
  border-radius: var(--dl-layout-radius-radius40);
  padding-right: var(--dl-layout-space-unitandahalfunit);
  flex-direction: column;
  padding-bottom: var(--dl-layout-space-halfunit);
  backdrop-filter: saturate(200%) blur(30px);
  justify-content: center;
  background-color: hsla(0,0%,100%,.8)!important;
}
 
.header-container1 {
  color: var(--dl-color-gray-black);
  width: 100%;
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: center;
}
 
.header-container2 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-container3 {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink1 {
  color: rgb(0, 0, 0);
  font-size: 1.3rem;
  align-self: center;
  font-style: normal;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  margin-left: var(--dl-layout-space-unit);
  margin-right: var(--dl-layout-space-unit);
  letter-spacing: -0.025rem;
  text-transform: none;
  text-decoration: none;
}
 
.header-mobile-menu {
  top: 0px;
  flex: 0 0 auto;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: none;
  padding: var(--dl-layout-space-unitandahalfunit);
  z-index: 100;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: var(--dl-color-gray-white);
}
 
.header-top {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-unit);
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
 
.header-navlink2 {
  color: var(--dl-color-secondary-700);
  font-weight: 600;
  text-decoration: none;
}
 
.header-close-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
 
.header-icon1 {
  width: 24px;
  height: 24px;
}
 
.header-mid {
  flex: 0 0 auto;
  width: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-layout-space-unit);
  padding-right: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.header-menu {
  flex: 0 0 auto;
  display: flex;
  align-items: flex-start;
  margin-bottom: var(--dl-layout-space-unit);
  flex-direction: column;
}
 
.header-navlink3 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-navlink3:hover {
  color: var(--dl-color-gray-500);
}
 
.header-text1 {
  transition: 0.3s;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-decoration: none;
}
 
.header-text1:hover {
  color: var(--dl-color-gray-500);
}
 
.header-text2 {
  transition: 0.3s;
  text-decoration: none;
}
 
.header-text2:hover {
  color: var(--dl-color-gray-500);
}
 
.header-bot {
  flex: 0 0 auto;
  display: flex;
  margin-top: auto;
  flex-direction: column;
}
 
.headerroot-class-name {
  max-width: 100%;
}
 
@media(max-width: 991px) {
  .header-nav {
    max-width: 960px;
  }
}
 
@media(max-width: 479px) {
  .header-container3 {
    display: none;
  }
  .headerroot-class-name {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
}

.feature-card-wrapper {
  display: contents;
}
 
.feature-card-container {
  flex: 0 0 auto;
  width: 25%;
  height: 306px;
  display: flex;
  margin-top: var(--dl-layout-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-layout-space-triplequarterunit);
  padding-right: var(--dl-layout-space-triplequarterunit);
  flex-direction: column;
}
 
.feature-card-image {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.feature-card-text1 {
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.feature-card-text2 {
  color: rgb(195, 195, 195);
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.feature-cardroot-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  height: 100%;
}
 
.feature-cardroot-class-name1 {
  height: 100%;
}
 
.feature-cardroot-class-name2 {
  height: 100%;
}
 
.feature-cardroot-class-name3 {
  height: 100%;
}
 
@media(max-width: 991px) {
  .feature-card-text1 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.375;
    text-transform: none;
    text-decoration: none;
  }
  .home-text13 {
    font-size: 1.1rem;
  }
}
 
@media(max-width: 767px) {
  .feature-card-container {
    width: 50%;
  }
  .feature-cardroot-class-name {
    height: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
  }
  .feature-cardroot-class-name2 {
    height: auto;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container {
    width: 100%;
    height: 217px;
  }
  .feature-card-image {
    width: 70px;
    height: 70px;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: 0px;
  }
  .feature-card-text1 {
    font-size: 1.8rem;
  }
  .feature-card-text2 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-text13 {
    font-size: 1rem;
  }
  .feature-cardroot-class-name {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name2 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.feature-card-wrapper-9z17 {
  display: contents;
}
 
.feature-card-container1 {
  flex: 0 0 auto;
  width: 25%;
  height: 306px;
  display: flex;
  margin-top: var(--dl-layout-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-layout-space-triplequarterunit);
  padding-right: var(--dl-layout-space-triplequarterunit);
  flex-direction: column;
}
 
.feature-card-image1 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.feature-card-text3 {
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.feature-card-text4 {
  color: rgb(195, 195, 195);
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.feature-cardroot-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  height: 100%;
}
 
.feature-cardroot-class-name1 {
  height: 100%;
}
 
.feature-cardroot-class-name2 {
  height: 100%;
}
 
.feature-cardroot-class-name3 {
  height: 100%;
}
 
@media(max-width: 991px) {
  .feature-card-text3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.375;
    text-transform: none;
    text-decoration: none;
  }
  .home-text16 {
    font-size: 1.1rem;
  }
}
 
@media(max-width: 767px) {
  .feature-card-container1 {
    width: 50%;
  }
  .feature-cardroot-class-name {
    height: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
  }
  .feature-cardroot-class-name2 {
    height: auto;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container1 {
    width: 100%;
    height: 217px;
  }
  .feature-card-image1 {
    width: 70px;
    height: 70px;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: 0px;
  }
  .feature-card-text3 {
    font-size: 1.8rem;
  }
  .feature-card-text4 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-text16 {
    font-size: 1rem;
  }
  .feature-cardroot-class-name {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name2 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.feature-card-wrapper-moui {
  display: contents;
}
 
.feature-card-container2 {
  flex: 0 0 auto;
  width: 25%;
  height: 306px;
  display: flex;
  margin-top: var(--dl-layout-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-layout-space-triplequarterunit);
  padding-right: var(--dl-layout-space-triplequarterunit);
  flex-direction: column;
}
 
.feature-card-image2 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.feature-card-text5 {
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.feature-card-text6 {
  color: rgb(195, 195, 195);
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.feature-cardroot-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  height: 100%;
}
 
.feature-cardroot-class-name1 {
  height: 100%;
}
 
.feature-cardroot-class-name2 {
  height: 100%;
}
 
.feature-cardroot-class-name3 {
  height: 100%;
}
 
@media(max-width: 991px) {
  .feature-card-text5 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.375;
    text-transform: none;
    text-decoration: none;
  }
  .home-text17 {
    font-size: 1.1rem;
  }
}
 
@media(max-width: 767px) {
  .feature-card-container2 {
    width: 50%;
  }
  .feature-cardroot-class-name {
    height: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
  }
  .feature-cardroot-class-name2 {
    height: auto;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container2 {
    width: 100%;
    height: 217px;
  }
  .feature-card-image2 {
    width: 70px;
    height: 70px;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: 0px;
  }
  .feature-card-text5 {
    font-size: 1.8rem;
  }
  .feature-card-text6 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-text17 {
    font-size: 1rem;
  }
  .feature-cardroot-class-name {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name2 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.feature-card-wrapper-xn1u {
  display: contents;
}
 
.feature-card-container3 {
  flex: 0 0 auto;
  width: 25%;
  height: 306px;
  display: flex;
  margin-top: var(--dl-layout-space-triplequarterunit);
  align-items: center;
  padding-left: var(--dl-layout-space-triplequarterunit);
  padding-right: var(--dl-layout-space-triplequarterunit);
  flex-direction: column;
}
 
.feature-card-image3 {
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: var(--dl-layout-space-unitandahalfunit);
}
 
.feature-card-text7 {
  color: rgb(255, 255, 255);
  font-size: 2.3rem;
  font-style: normal;
  margin-top: var(--dl-layout-space-halfunit);
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.375;
  margin-bottom: var(--dl-layout-space-halfunit);
  text-transform: none;
  text-decoration: none;
}
 
.feature-card-text8 {
  color: rgb(195, 195, 195);
  font-size: 1.3rem;
  font-style: normal;
  text-align: center;
  font-weight: 500;
  margin-bottom: var(--dl-layout-space-unit);
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.feature-cardroot-class-name {
  fill: var(--dl-color-secondary-400);
  color: var(--dl-color-secondary-400);
  height: 100%;
}
 
.feature-cardroot-class-name1 {
  height: 100%;
}
 
.feature-cardroot-class-name2 {
  height: 100%;
}
 
.feature-cardroot-class-name3 {
  height: 100%;
}
 
@media(max-width: 991px) {
  .feature-card-text7 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.375;
    text-transform: none;
    text-decoration: none;
  }
  .home-text20 {
    font-size: 1.1rem;
  }
}
 
@media(max-width: 767px) {
  .feature-card-container3 {
    width: 50%;
  }
  .feature-cardroot-class-name {
    height: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
  }
  .feature-cardroot-class-name2 {
    height: auto;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
}
 
@media(max-width: 479px) {
  .feature-card-container3 {
    width: 100%;
    height: 217px;
  }
  .feature-card-image3 {
    width: 70px;
    height: 70px;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: 0px;
  }
  .feature-card-text7 {
    font-size: 1.8rem;
  }
  .feature-card-text8 {
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
  }
  .home-text20 {
    font-size: 1rem;
  }
  .feature-cardroot-class-name {
    width: 100%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .feature-cardroot-class-name1 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name2 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .feature-cardroot-class-name3 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: 0px;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: var(--dl-layout-space-unit);
  }
}

.pricing2-wrapper {
  display: contents;
}
 
.pricing2-pricing3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
  justify-content: center;
}
 
.pricing2-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing2-content {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
  background-color: #000000;
}
 
.pricing2-price-title {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-text10 {
  align-self: center;
  margin-top: var(--dl-layout-space-doubleunit);
  text-align: left;
}
 
.pricing2-price {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-text11 {
  font-size: 48px;
  align-self: center;
}
 
.pricing2-button {
  width: 75%;
  align-self: center;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(0, 59, 30) 38.00%,rgb(1, 155, 170) 100.00%);
}
 
.pricing2-image {
  width: 200px;
  align-self: center;
  object-fit: cover;
}
 
.pricing2-list {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-list-item1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-text13 {
  font-size: 1.4rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
}
 
.pricing2-list-item2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-text14 {
  font-size: 1.4rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
}
 
.pricing2-list-item3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-text15 {
  font-size: 1.4rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
}
 
.pricing2-list-item4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-text16 {
  font-size: 1.4rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text32 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
  font-size: 3rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
.home-text29 {
  color: #79ff8b;
  font-weight: 500;
}
 
.home-text30 {
  font-weight: 300;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
}
 
.pricing2root-class-name {
  fill: var(--dl-color-secondary-400);
  color: #ffffff;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  aspect-ratio: auto;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 8.00%,rgb(2, 23, 19) 100.00%);
}
 
@media(max-width: 1600px) {
  .home-text29 {
    color: #79ff8b;
    font-style: inherit;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 300;
  }
}
 
@media(max-width: 991px) {
  .home-text29 {
    color: #79ff8b;
    font-style: inherit;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 300;
  }
}
 
@media(max-width: 767px) {
  .pricing2-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing2-pricing3 {
    width: 100%;
    height: 715px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    margin-bottom: 0px;
  }
  .pricing2-max-width {
    gap: 24px;
    width: 100%;
    height: 613px;
    margin-bottom: 0px;
  }
  .pricing2-content {
    flex: 1;
    width: 75%;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: 95%;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
    padding-bottom: 0px;
  }
  .pricing2-price {
    margin-right: 0px;
  }
  .pricing2-text11 {
    font-size: 3.2rem;
  }
  .pricing2-button {
    width: 55%;
    height: auto;
  }
  .pricing2-text12 {
    font-size: 1.1rem;
  }
  .pricing2-list {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    padding-top: 0px;
    aspect-ratio: auto;
  }
  .pricing2-text13 {
    font-size: 1.1rem;
    font-style: inherit;
    font-family: Open Sans;
    font-weight: 300;
  }
  .pricing2-text14 {
    font-size: 1.1rem;
    font-style: inherit;
    font-family: Open Sans;
    font-weight: 300;
  }
  .pricing2-text15 {
    font-size: 1.1rem;
    font-style: inherit;
    font-family: Open Sans;
    font-weight: 300;
  }
  .pricing2-list-item4 {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .pricing2-text16 {
    font-size: 1.1rem;
    font-style: inherit;
    font-family: Open Sans;
    font-weight: 300;
  }
  .home-text32 {
    color: rgb(230, 230, 230);
    font-size: 1.4rem;
  }
  .home-text28 {
    font-size: 2.1rem;
    font-weight: 400;
  }
  .home-text29 {
    color: #51f170;
    font-weight: 500;
  }
  .home-text30 {
    font-style: inherit;
    font-weight: 300;
  }
  .home-text31 {
    font-size: 1.2rem;
  }
  .pricing2root-class-name {
    width: auto;
    height: auto;
    max-width: auto;
    min-width: 100%;
    max-height: auto;
    min-height: auto;
    margin-bottom: 0px;
  }
}

.footer-wrapper {
  display: contents;
}
 
.footer-footer {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(310deg,#141727,#3a416f);
}
 
.footer-container1 {
  color: var(--dl-color-gray-white);
  width: 100%;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  z-index: 1;
  max-width: 1320px;
  justify-content: space-between;
}
 
.footer-container2 {
  width: 1472px;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
 
.footer-text1 {
  font-weight: 700;
  margin-bottom: var(--dl-layout-space-halfunit);
}
 
.footer-text2 {
  font-size: 0.9rem;
}
 
.footerroot-class-name {
  background-image: linear-gradient(180deg, rgba(2, 64, 181, 0.42) 4.00%,rgb(0, 0, 0) 100.00%);
}
 
@media(max-width: 991px) {
  .footer-container1 {
    padding: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 767px) {
  .footer-container1 {
    flex-direction: column;
  }
  .footer-container2 {
    align-items: center;
    margin-bottom: var(--dl-layout-space-doubleunit);
  }
}
 
@media(max-width: 479px) {
  .footer-container1 {
    padding-bottom: 0px;
  }
  .footer-text1 {
    font-weight: 700;
  }
  .footer-text2 {
    font-size: 0.8rem;
  }
}

.home-container1 {
  width: 100%;
  height: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-image: radial-gradient(circle at right bottom, rgb(0, 0, 0) 4.00%,rgb(0, 0, 0) 54.00%,rgb(0, 41, 68) 100.00%);
}
 
.home-hero {
  width: 100%;
  height: 1250px;
  display: flex;
  overflow: visible;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  aspect-ratio: auto;
  padding-bottom: 3px;
  background-size: cover;
  justify-content: center;
  background-image: url("public/beverlyalgo%20(2).png");
}
 
.home-container2 {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: auto;
  min-width: auto;
  max-height: auto;
  min-height: auto;
  align-items: center;
  aspect-ratio: auto;
  flex-direction: column;
  justify-content: center;
}
 
.home-card {
  width: 75%;
  height: auto;
  display: flex;
  padding: var(--dl-layout-space-tripleunit);
  z-index: 1;
  overflow: hidden;
  max-width: auto;
  min-width: auto;
  box-shadow: 0 8px 26px -4px hsla(0,0%,8%,.15),0 8px 9px -5px hsla(0,0%,8%,.06)!important;
  margin-top: var(--dl-layout-space-tripleunit);
  max-height: auto;
  min-height: auto;
  align-items: flex-start;
  aspect-ratio: auto;
  border-color: var(--dl-color-secondary-400);
  border-width: 1px;
  border-radius: var(--dl-layout-radius-radius5);
  animation-name: fadeInUp;
  flex-direction: column;
  animation-delay: 0s;
  backdrop-filter: saturate(200%) blur(30px);
  background-color: rgba(0, 0, 0, 0.52);
  animation-duration: 1s;
  animation-direction: normal;
  animation-iteration-count: 1;
  animation-timing-function: ease;
}
 
.home-text10 {
  width: auto;
  height: auto;
  font-size: 5em;
  max-width: auto;
  min-width: auto;
  font-style: normal;
  max-height: auto;
  min-height: auto;
  text-align: center;
  font-weight: 800;
  aspect-ratio: auto;
  background-image: linear-gradient(0deg, rgb(2, 47, 3) 3%, rgba(0, 252, 255, 0.92) 60%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.home-text11 {
  color: rgb(255, 255, 255);
  height: auto;
  font-size: 3rem;
  font-style: normal;
  margin-top: 0px;
  text-align: center;
  font-family: "Open Sans";
  font-weight: 700;
  line-height: 1.9;
  margin-bottom: 0px;
  text-transform: none;
  text-decoration: none;
}
 
.home-text12 {
  color: rgb(255, 255, 255);
  width: auto;
  height: auto;
  overflow: visible;
  font-size: 1.7rem;
  max-width: auto;
  min-width: auto;
  align-self: center;
  font-style: normal;
  margin-top: var(--dl-layout-space-unit);
  max-height: auto;
  min-height: auto;
  text-align: left;
  font-family: "Open Sans";
  font-weight: 500;
  line-height: 1.625;
  aspect-ratio: auto;
  margin-right: var(--dl-layout-space-tripleunit);
  margin-bottom: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  text-transform: none;
  text-decoration: none;
}
 
.home-container3 {
  flex: 0 0 auto;
  width: auto;
  height: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-container4 {
  flex: 0 0 auto;
  width: auto;
  height: 64px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
 
.home-button1 {
  color: #ffffff;
  width: 180px;
  height: 60px;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
  border-color: #00d800;
  border-width: 2px;
  border-radius: var(--dl-layout-radius-radius75);
  text-decoration: none;
  background-color: rgba(45, 88, 67, 0.62);
}
 
.home-button2 {
  color: rgb(255, 255, 255);
  width: 184px;
  height: 64px;
  font-size: 1.5rem;
  align-self: flex-start;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
  margin-left: var(--dl-layout-space-tripleunit);
  border-color: #632af1;
  border-width: 2px;
  border-radius: var(--dl-layout-radius-radius75);
  text-decoration: none;
  background-color: rgba(62, 25, 155, 0.62);
}
 
.home-features {
  width: auto;
  height: auto;
  display: flex;
  overflow: hidden;
  flex-wrap: wrap;
  max-width: auto;
  min-width: auto;
  max-height: auto;
  min-height: auto;
  align-items: flex-start;
  padding-top: var(--dl-layout-space-doubleunit);
  aspect-ratio: auto;
  border-color: #005c6b;
  border-style: solid;
  border-width: 5px;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: row;
  background-image: linear-gradient(90deg, rgb(0, 43, 62) 2.00%,rgb(29, 0, 79) 100.00%);
}
 
.home-fragment1 {
  display: contents;
}
 
.home-text13 {
  display: inline-block;
}
 
.home-fragment2 {
  display: contents;
}
 
.home-text16 {
  display: inline-block;
}
 
.home-fragment3 {
  display: contents;
}
 
.home-text17 {
  display: inline-block;
}
 
.home-fragment4 {
  display: contents;
}
 
.home-text20 {
  display: inline-block;
}
 
.home-container5 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  max-width: 75%;
  min-width: auto;
  max-height: auto;
  min-height: auto;
  align-items: center;
  padding-top: var(--dl-layout-space-sixunits);
  aspect-ratio: auto;
  padding-left: var(--dl-layout-space-tripleunit);
  padding-right: var(--dl-layout-space-tripleunit);
  flex-direction: column;
}
 
.home-container6 {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  flex-direction: column;
}
 
.home-text21 {
  fill: transparent;
  color: transparent;
  width: 100%;
  height: 100%;
  overflow: visible;
  font-size: 5rem;
  max-width: 100%;
  min-width: 100%;
  max-height: 100%;
  min-height: 100%;
  aspect-ratio: auto;
  background-image: linear-gradient(0deg, rgb(0, 0, 0) 0.00%,rgba(0, 255, 206, 0.92) 51.00%,rgba(0, 252, 255, 0.92) 100.00%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
 
.home-text24 {
  color: rgb(208, 208, 208);
  font-size: 2.5rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
  line-height: 1;
  margin-bottom: var(--dl-layout-space-tripleunit);
}
 
.home-image1 {
  width: 1464px;
  height: 1401px;
  object-fit: cover;
}
 
.home-image2 {
  width: auto;
  height: auto;
  overflow: hidden;
  max-width: 85%;
  min-width: auto;
  box-shadow: 5px 5px 10px 0px #000000;
  margin-top: var(--dl-layout-space-sixunits);
  max-height: auto;
  min-height: auto;
  object-fit: cover;
  margin-left: 0rem;
  aspect-ratio: auto;
  margin-right: 0rem;
  border-radius: var(--dl-layout-radius-radius75);
  margin-bottom: var(--dl-layout-space-twelveunits);
  border-top-left-radius: var(--dl-layout-radius-imageradius);
  border-top-right-radius: var(--dl-layout-radius-buttonradius);
  border-bottom-left-radius: var(--dl-layout-radius-imageradius);
}
 
.home-text25 {
  width: auto;
  height: auto;
  overflow: hidden;
  max-width: auto;
  min-width: auto;
  max-height: auto;
  min-height: auto;
  text-align: center;
  aspect-ratio: auto;
}
 
.home-fragment5 {
  display: contents;
}
 
.home-text28 {
  display: inline-block;
  font-size: 3rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
.home-text29 {
  color: #79ff8b;
  font-weight: 500;
}
 
.home-text30 {
  font-weight: 300;
}
 
.home-fragment6 {
  display: contents;
}
 
.home-text31 {
  display: inline-block;
  font-size: 1.5rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 300;
}
 
.home-fragment7 {
  display: contents;
}
 
.home-text32 {
  color: rgb(255, 255, 255);
  display: inline-block;
  font-size: 2rem;
  font-style: normal;
  font-family: "Open Sans";
  font-weight: 700;
}
 
@media(max-width: 1600px) {
  .home-hero {
    width: auto;
    height: 1250px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-container2 {
    max-width: 80%;
  }
  .home-card {
    width: 90%;
  }
  .home-text11 {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
    margin-bottom: 0px;
  }
  .home-button1 {
    width: 180px;
    height: 60px;
  }
  .home-button2 {
    width: 180px;
    height: 60px;
    border-color: #632af1;
    background-color: rgba(62, 25, 155, 0.62);
  }
  .home-features {
    height: auto;
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-container5 {
    width: auto;
    height: auto;
    max-width: auto;
    min-width: 100%;
    min-height: auto;
    margin-bottom: var(--dl-layout-space-sixunits);
  }
  .home-text21 {
    height: 132px;
  }
  .home-text24 {
    margin-bottom: var(--dl-layout-space-fourunits);
  }
  .home-image1 {
    width: 100%;
    height: 1300px;
  }
  .home-image2 {
    width: 100%;
  }
  .home-text25 {
    width: auto;
    min-width: auto;
  }
  .home-text29 {
    color: #79ff8b;
    font-style: inherit;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 300;
  }
}
 
@media(max-width: 1200px) {
  .home-hero {
    width: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-container2 {
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-card {
    width: 100%;
    height: auto;
  }
  .home-text11 {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    overflow: visible;
    font-size: 2.5rem;
    max-width: auto;
    min-width: auto;
    font-style: normal;
    max-height: auto;
    min-height: auto;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.9;
    aspect-ratio: auto;
    margin-bottom: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .home-text12 {
    color: rgb(255, 255, 255);
    font-size: 1.7rem;
    font-style: normal;
    margin-top: var(--dl-layout-space-halfunit);
    font-family: Open Sans;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: var(--dl-layout-space-doubleunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-button2 {
    background-color: rgba(62, 25, 155, 0.62);
  }
  .home-features {
    height: auto;
  }
  .home-container5 {
    width: 100%;
    overflow: hidden;
    max-width: auto;
    min-width: 100%;
    margin-bottom: var(--dl-layout-space-fourunits);
  }
  .home-text21 {
    height: 131px;
  }
  .home-text24 {
    margin-bottom: var(--dl-layout-space-sixunits);
  }
  .home-image1 {
    width: 100%;
    height: 984px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-image2 {
    margin-top: var(--dl-layout-space-doubleunit);
    margin-bottom: var(--dl-layout-space-sixunits);
  }
}
 
@media(max-width: 991px) {
  .home-hero {
    width: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    padding-left: var(--dl-layout-space-tripleunit);
    padding-right: var(--dl-layout-space-tripleunit);
  }
  .home-container2 {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-card {
    width: auto;
    height: auto;
  }
  .home-text10 {
    font-size: 4.3em;
    align-self: flex-start;
  }
  .home-text11 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    align-self: flex-start;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.9;
    text-transform: none;
    text-decoration: none;
  }
  .home-text12 {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    align-self: center;
    font-style: normal;
    margin-top: var(--dl-layout-space-halfunit);
    font-family: Open Sans;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: var(--dl-layout-space-doubleunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-button1 {
    color: rgb(255, 255, 255);
    width: 180px;
    height: 60px;
    font-size: 1.4rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    text-decoration: none;
    background-color: rgba(45, 88, 67, 0.62);
  }
  .home-button2 {
    color: rgb(255, 255, 255);
    width: 180px;
    height: 60px;
    font-size: 1.4rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    text-decoration: none;
    background-color: rgba(62, 25, 155, 0.62);
  }
  .home-features {
    width: auto;
    height: auto;
    max-width: auto;
    min-width: auto;
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-text13 {
    font-size: 1.1rem;
  }
  .home-text16 {
    font-size: 1.1rem;
  }
  .home-text17 {
    font-size: 1.1rem;
  }
  .home-text20 {
    font-size: 1.1rem;
  }
  .home-container5 {
    max-width: 100%;
    padding-left: var(--dl-layout-space-doubleunit);
    padding-right: var(--dl-layout-space-doubleunit);
  }
  .home-container6 {
    width: auto;
    height: 100%;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-image1 {
    width: 100%;
    height: 820px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-image2 {
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-sixunits);
  }
  .home-text29 {
    color: #79ff8b;
    font-style: inherit;
    font-weight: 500;
  }
  .home-text30 {
    font-style: normal;
    font-weight: 300;
  }
}
 
@media(max-width: 767px) {
  .home-hero {
    width: auto;
    height: 1250px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-card {
    height: auto;
    align-items: center;
  }
  .home-text10 {
    font-size: 4.2em;
    align-self: center;
    margin-bottom: var(--dl-layout-space-halfunit);
  }
  .home-text11 {
    font-size: 2rem;
    align-self: flex-start;
    line-height: 1.3;
    margin-bottom: 0px;
  }
  .home-text12 {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    align-self: flex-start;
    font-style: normal;
    margin-top: var(--dl-layout-space-unitandahalfunit);
    text-align: center;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 1.625;
    margin-right: 0px;
    margin-bottom: var(--dl-layout-space-tripleunit);
    padding-right: 0px;
    text-transform: none;
    text-decoration: none;
  }
  .home-button1 {
    font-size: 1.4rem;
  }
  .home-features {
    height: auto;
    max-width: auto;
    padding-top: var(--dl-layout-space-doubleunit);
    padding-left: var(--dl-layout-space-unitandahalfunit);
    padding-right: var(--dl-layout-space-unitandahalfunit);
    padding-bottom: var(--dl-layout-space-doubleunit);
  }
  .home-container5 {
    max-width: 720px;
    margin-bottom: 0px;
  }
  .home-text21 {
    height: 93px;
    font-size: 3.5rem;
    align-self: center;
    text-align: center;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 255, 206, 0.92) 51%, rgba(0, 252, 255, 0.92) 100%);
  }
  .home-text24 {
    color: rgb(208, 208, 208);
    font-size: 2rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 1;
    margin-bottom: var(--dl-layout-space-fourunits);
  }
  .home-image1 {
    width: 100%;
    height: 600px;
  }
  .home-image2 {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
  }
  .home-text25 {
    font-size: 3.5rem;
  }
}
 
@media(max-width: 479px) {
  .home-hero {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-container2 {
    width: auto;
    height: 800px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-card {
    width: 100%;
    height: auto;
    padding: var(--dl-layout-space-unit);
    overflow: visible;
    margin-top: 0px;
    border-radius: var(--dl-layout-radius-radius5);
  }
  .home-text10 {
    height: auto;
    font-size: 2.6em;
    align-self: center;
    font-style: normal;
    font-weight: 800;
    margin-bottom: var(--dl-layout-space-halfunit);
    background-image: linear-gradient(0deg, rgb(2, 47, 3) 3%, rgba(0, 252, 255, 0.92) 60%);
  }
  .home-text11 {
    color: rgb(255, 255, 255);
    height: auto;
    font-size: 1.2rem;
    align-self: center;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: var(--dl-layout-space-unit);
    text-transform: none;
    text-decoration: none;
  }
  .home-text12 {
    color: rgb(255, 255, 255);
    font-size: 0.8rem;
    align-self: flex-start;
    font-style: normal;
    margin-top: 0px;
    font-family: Open Sans;
    font-weight: 500;
    line-height: 1.625;
    margin-bottom: var(--dl-layout-space-unitandahalfunit);
    text-transform: none;
    text-decoration: none;
  }
  .home-button1 {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 0.8rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    text-decoration: none;
    background-color: rgba(45, 88, 67, 0.62);
  }
  .home-button2 {
    color: rgb(255, 255, 255);
    width: auto;
    height: auto;
    font-size: 0.8rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 700;
    margin-left: var(--dl-layout-space-doubleunit);
    text-decoration: none;
    background-color: rgba(62, 25, 155, 0.62);
  }
  .home-features {
    width: auto;
    height: 960px;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    padding-top: var(--dl-layout-space-unit);
    padding-bottom: var(--dl-layout-space-unit);
  }
  .home-text13 {
    font-size: 1rem;
  }
  .home-text16 {
    font-size: 1rem;
  }
  .home-text17 {
    font-size: 1rem;
  }
  .home-text20 {
    font-size: 1rem;
  }
  .home-container5 {
    width: 100%;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    padding-top: var(--dl-layout-space-doubleunit);
    padding-bottom: var(--dl-layout-space-halfunit);
  }
  .home-container6 {
    width: 100%;
    height: 100%;
    overflow: visible;
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
  }
  .home-text21 {
    width: auto;
    height: auto;
    font-size: 2.4rem;
    max-width: auto;
    min-width: auto;
    max-height: auto;
    min-height: auto;
    background-image: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgba(0, 255, 206, 0.92) 51%, rgba(0, 252, 255, 0.92) 100%);
  }
  .home-text24 {
    color: rgb(208, 208, 208);
    font-size: 1.3rem;
    font-style: normal;
    font-family: Open Sans;
    font-weight: 300;
    line-height: 1;
    margin-bottom: 0px;
  }
  .home-image1 {
    width: 100%;
    height: 400px;
    overflow: hidden;
    max-width: 100%;
    min-width: 100%;
    max-height: auto;
    min-height: auto;
    aspect-ratio: auto;
  }
  .home-image2 {
    width: auto;
    height: auto;
    overflow: hidden;
    max-width: auto;
    min-width: auto;
    margin-top: var(--dl-layout-space-unit);
    margin-bottom: var(--dl-layout-space-tripleunit);
  }
  .home-text25 {
    height: auto;
    font-size: 2.4rem;
    max-width: auto;
    max-height: auto;
    min-height: auto;
  }
  .home-text28 {
    font-size: 2.1rem;
    font-weight: 400;
  }
  .home-text29 {
    color: #51f170;
    font-weight: 500;
  }
  .home-text30 {
    font-style: inherit;
    font-weight: 300;
  }
  .home-text31 {
    font-size: 1.2rem;
  }
  .home-text32 {
    color: rgb(230, 230, 230);
    font-size: 1.4rem;
  }
}
