.pricing2-pricing3 {
  width: 100%;
  height: auto;
  display: flex;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  flex-direction: column;
}
 
.pricing2-max-width {
  gap: 48px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
 
.pricing2-content {
  gap: 32px;
  flex: 1;
  width: 100%;
  display: flex;
  max-width: 560px;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: var(--dl-color-theme-neutral-dark);
  border-style: solid;
  border-width: 1px;
  margin-bottom: var(--dl-layout-space-fourunits);
  flex-direction: column;
  background-color: #000000;
}
 
.pricing2-price-title {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-text10 {
  align-self: center;
  margin-top: var(--dl-layout-space-doubleunit);
  text-align: left;
}
 
.pricing2-price {
  gap: var(--dl-layout-space-halfunit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-text11 {
  font-size: 48px;
  align-self: center;
}
 
.pricing2-button {
  width: 75%;
  align-self: center;
  border-width: 0px;
  text-decoration: none;
  background-color: transparent;
  background-image: linear-gradient(90deg, rgb(0, 59, 30) 38.00%,rgb(1, 155, 170) 100.00%);
}
 
.pricing2-list {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-direction: column;
}
 
.pricing2-list-item1 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-list-item2 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-list-item3 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-list-item4 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-list-item5 {
  gap: var(--dl-layout-space-unit);
  display: flex;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  margin-left: var(--dl-layout-space-doubleunit);
}
 
.pricing2-text17 {
  margin-bottom: var(--dl-layout-space-doubleunit);
}
 
.pricing2-fragment1 {
  display: contents;
}
 
.pricing2-text18 {
  display: inline-block;
}
 
.pricing2-fragment2 {
  display: contents;
}
 
.pricing2-text19 {
  display: inline-block;
}
 
.pricing2-fragment3 {
  display: contents;
}
 
.pricing2-text20 {
  display: inline-block;
}
 
.pricing2-fragment4 {
  display: contents;
}
 
.pricing2-text21 {
  display: inline-block;
}
 
.pricing2-fragment5 {
  display: contents;
}
 
.pricing2-text22 {
  display: inline-block;
}
 
.pricing2-fragment6 {
  display: contents;
}
 
.pricing2-text23 {
  display: inline-block;
}
 
.pricing2-fragment7 {
  display: contents;
}
 
.pricing2-text24 {
  display: inline-block;
}
 
.pricing2-fragment8 {
  display: contents;
}
 
.pricing2-text25 {
  display: inline-block;
}
 
.pricing2root-class-name {
  fill: var(--dl-color-secondary-400);
  color: #ffffff;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) 8.00%,rgb(2, 23, 19) 100.00%);
}
 
@media(max-width: 767px) {
  .pricing2-content {
    width: 100%;
  }
}
 
@media(max-width: 479px) {
  .pricing2-max-width {
    gap: 24px;
  }
}
